.text-container.text-container-action {
	text-align: center;
	p {
		max-width: 315px;
		display: block;
		margin: 0 auto;
		font-size: 15px;
		font-weight: normal;
		color:#fff;
		text-align: left;
		line-height: 20px;
		@media (min-width: 1025px) and (max-width: 1290px) {
			// max-height: 165px;
			// overflow: hidden;
		}
	}
	h2 {
		font-weight: bold;
		font-size: 33px;
		font-family: "Bebas Neue","Helvetica Neue",Helvetica,sans-serif;
		text-transform: uppercase;
		color: #fff;
		margin-top: 58px;
		@media (min-width: 980px) and (max-width: 1023px) {
			margin-top: 20px;
		}
		&:after {
			content: ' ';
			border-top: 6px solid #fff;
			display: block;
			margin: 24px auto 23px;
			width: 70px;
		}
	}
}
p {
	color:#fff;
}
i.icon {
	color:#78c3e7;
	margin-right: 4px;
}
.row-black {
	background-color: #171728;
	margin-top: 0;
}
.box {
	position: relative;
	width: 100%;
    max-width: 1275px;
    margin: 0 auto;
    overflow: hidden;
	&:before{
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	}
	.box-content {
		position: absolute;
		left:0;
		top:0;
		bottom:0;
		right:0;
		background-image: url(../../src/img/action_background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		box-shadow: inset 0px -90px 180px -30px rgba(0,0,0,.6);
		@media (max-width: 1600px) and (min-width: 1025px) {
			box-shadow: inset 0px -90px 180px -30px rgba(0,0,0,.6), inset 400px 0 800px 0 rgba(0,0,0,.6);
		}
		@media (max-width: 1023px) {
			box-shadow: inset 0px -90px 180px -30px rgba(0, 0, 0, 0), inset 200px 0 400px 0 rgba(0, 0, 0, 0);
		}
	}
	&.ratio {
		&:before{
			padding-top: 39.53%;
		}
	}
}


.btn-blur {
	background-color: rgba(255,255,255,.4);
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 16px;
	color:#fff;
	padding: 14px 36px 13px;
	border: none;
    /* transition: all .3s ease 0s;
	&:hover, &:focus {
		background-color: rgba(255,255,255,.98);
		color:#000;
		border-color:#fff;
	} */
}
.inlines{
    float: left;
    .inline{
        line-height: 25px;
    }
}
.info-block {
	padding-left: 0px;
	padding-right: 80px;
	margin: 50px auto 27px;
	white-space: nowrap;
	position: absolute;
	bottom:0;
	color:#fff;
	span {
		padding-right: 20px;
		font-size: 16px;
		font-family: Circe;
		font-weight: 300;
	}
	em.gotham {
		margin-right: 4px;
		margin-left: 4px;
	}
	.icon-alarm {
            font-size: 23px;
	}
        .icon-thirteen {
            font-size: 23px;
            margin-right: 20px;
            margin-top: -29px;
            display: block;
	}
	.icon-user {
		font-size: 22px;
	}
	.icon-point {
		font-size: 27px;
		min-width: 38px;
		display: inline-block;
		padding-left: 4px;
	}
	.icon-metro {
		display: inline-block;
		font-size: 23px;
		min-width: 38px;
	}
	a {
		font-weight: 300;
		font-size: 13px;
		color: #6aa9ca;
		padding-left: 39px;
		&:hover {
			color: #afe1f9;
		}
	}
}
p.info-block {
	text-align: center;
	margin-bottom: 32px;
}
.h100 {
	height: 100%;
	position: relative;
}
ul.nav {
	&.navbar-nav {
		li {
			margin-left: 10px;
			margin-right: 10px;
			a {
				color: #fff;//rgba(255,255,255,.4);
				text-transform: none;
				opacity:1;
				padding-top: 29px;
				font-weight: 300;
				font-size: 14px;
			}
			&.phone-li {
				margin-left: 38px;
				@media (min-width: 1025px) and (max-width: 1290px) {
					margin-left: 10px;
				}
			}
		}
	}
	&.navbar-nav-main {
		margin: 0px 23px 10px 0;//102px;
		margin-right: 0;

                position: relative;

		li {
			margin-left: 0px;
			margin-right: 10px;
                        @media (max-width: 1024px) {
                            margin-right: 0px;
                        }
			a {
				padding-left: 0;
				padding-right: 6px;
				color:#fff;
				font-weight: 500;
				opacity: 1;
				font-size: 13px;
				text-transform: uppercase;
			}
		}
	}
}
.right-nav-btn .city-select .btn.btn-link span {
	margin-right: 6px;
	margin-left: 2px;
	border-bottom: 1px dotted;
}
.right-nav-btn .btn.ico-msq {
	padding-right: 8px;
}
.navbar-brand {
	padding-left: 4px;
	padding-right: 0;
	position: relative;
	z-index: 2;
}
//.row-action {
//    padding: 0 12px;
//}
#top_menu {
	margin-right: 0;
}
.right-nav-btn {
	margin-top: 34px;
}
.jumbotron-action {
	h1 {
		font-size: 54px;
	}
	p.lead-p {
		max-width: 1220px;
		text-align: center;
		margin:0 auto;

		@media (min-width: 992px) and (max-width: 1023px) {
			font-size: 20px;
		}
		@media (min-width: 1025px) and (max-width: 1440px) {
			font-size: 24px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			font-size:19px;
		}
		&:after {
			margin-top: 21px;
		}
	}
	.btn-blur {
		margin-top: 19px;
	}
}
.h2-action {
	margin-top: 46px;
	margin-bottom: 30px;
	font-size: 55px;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-family: "Bebas Neue","Helvetica Neue",Helvetica,sans-serif;
	@media (max-width: $screen-xs-max){
		font-size: 28px;
		margin-bottom: 10px;
	}
}
#hex550 {
	max-width: 388px;
}

@media (min-width: 1200px) {
    .container.row1275 {
        width:1200px;
    }
    .col-sm-Iright {
	    margin-left: -57px;
	    margin-right: 57px;
	}
	.col-sm-Ileft {
	    margin-right: -43px;
	    margin-left: 43px;
	}
	.col-sm-BL {
	    margin-right: -154px;
	    margin-left: 154px;
	    margin-top: -75px;
	}
	.col-sm-BR {
	    margin-left: -167px;
	    margin-right: 167px;
	    margin-top: -88px;
            
	}   
}
@media (min-width: 1275px) {
    .container.row1275 {
        width:1265px;
    }
}
.p300 {
    max-width: 360px;
    font-weight: 300;
    font-family: Circe;
    font-size: 16px;
    margin:0 auto;
    display: block;
    margin-top: 5px;
    @media(max-width: 480px){
        max-width: 300px;
    }
    
}
@media (min-width: 768px) {
	.col-sm-Ileft, .col-sm-Iright {
		margin-top: 5px;
	}
	.col-sm-Iright {
/*	    margin-left: -57px;
	    margin-right: 57px;*/
	}
	.col-sm-Ileft {
/*	    margin-right: -43px;
	    margin-left: 43px;*/
	}
	.col-sm-BL {
/*	    margin-right: -154px;
	    margin-left: 154px;*/
	    margin-top: -75px;
	}
	.col-sm-BR {
/*	    margin-left: -167px;
	    margin-right: 167px;*/
	    margin-top: -88px;
            
	}
	.col-sm-BC {
		margin-top: 36px;
	}
	#icoHand {
		margin-bottom: -3px;
	}
	#icoCube {
		margin-top: 20px;
	}
}
.h3-action {
	font-family: Circe;
	font-size: 28px;
	color:#fff;
	margin-top: 70px;
	font-weight: 300;
}
.rowDarkBlue {
	background-color: #1f2450;
}
.p-media {
	font-size: 16px;
	font-family: Circe;
	color: #fff;
	font-weight: 300;
	margin-bottom: 0;
}
.media-body-action {
	vertical-align: middle;
}
.media-action {
	padding-left: 45px;
	padding-right: 45px;
	margin-bottom: 25px;
	.media-left {
		padding-right: 15px;
	}
}
.lead-action {
	text-align: center;
	font-size: 26px;
	@media (max-width: $screen-xs-max){
		font-size: 13px;
		margin-bottom: 0;
	}
}
.date-line {
    margin-top: -13px;
    margin-bottom: 8px;
	.btn {
		margin-left: 22px;
	}
	p {
		text-align: left;
		font-size: 15px;
		font-family: Circe;
		color: rgba(255,255,255,.4);
		font-weight: 300;
		margin-bottom: 0;
		&:last-child {
			// color:rgba(120, 196, 232, 0.6);
			font-weight: normal;
			font-size: 12px;
		}
	}
	.weekend-action {
		p {
			span, &:last-child {
				color:rgba(120, 196, 232, 0.6);
			}
		}
	}
	.active {
		box-shadow: none;
		span {
			color:rgba(255,255,255,1);
		}
		p {
			&:last-child {
				color:rgba(255,255,255,1);
			}
		}
	}
}
h2.twotab ,
a.h2.twotab {
	font-family: BebasNeueBold;
	font-size: 30px;
	line-height: 30px;
	color: rgba(255,255,255,.4);
	&.active {
		font-weight: normal;
		color:#fff;
	}

  & + & {
    margin-left: 52px;
    @media (max-width: $screen-sm-max) {
      margin-left: 12px;
    }
  }
}
.game-descr {
	font-weight: 300;
	color: rgba(255,255,255,.4);
	font-size: 16px;
	font-family: Circe;
    margin-top: -11px;
    margin-bottom: 9px;
}
.table-action {
	&.borderless {
    	margin-bottom: 55px;
		margin-top: 0px;
		@media (max-width: 980px) {
			margin-top: 4px;
		}
	}
	.curent_date {
		.quest_date {
			font-size: 40px;
			font-family: Circe;
			margin-top: 2px;
			margin-right: 13px;
		}
		small {
			font-size: 13px;
			text-align: left;
			text-transform: capitalize;
    		margin-top: 0px;
    		padding-left: 3px;
		}
	}
	.btn-q {
		margin-bottom: 2px;
    	margin-right: 5px;
    	margin-top: -2px;
	}
	td .priceTbl {
		margin-top: 6px;
	}
	&>tbody>tr>td {
		line-height: 1.26;
	}
	.row-seans{
		margin-top:2px;
	}

	.container {
		margin:0 auto;
		width:815px
	}
}
a.h2.twotab-action {
	margin-top: 50px;
        @media(max-width: 480px){
            font-size: 12px;
        }
  @media (max-width: $screen-sm-max) {
    margin-top: 0px;
  }

}
.route-action {
    font-size: 13px;
    line-height: 1.53;
    /*margin-bottom: 10px;*/
    b{
        display: inline-block;
        /*margin-top: 35px;*/
        /*margin-bottom: 10px;*/
    }
    &:first-child{
        b{
            margin-top: 0px;
        }
    }
}
.route-map {
	margin-bottom: 13px;
}
.bottom-lead-action {
    line-height: 1.3;
}
.about_us {
	height: 22px;
	line-height: 22px;
	padding:0 4px;
	background-color: rgba(0,0,0,0);
	//border:1px solid rgba(255,255,255,.2);
	//border-radius: 3px;
    color: rgba(193,235,255,0.4);
    font-weight: 300;
    display: inline-block;
	top: 3px;
}
.hex550 {
	position: relative;
}
.scare {
	position: absolute;
	width:100%;
	text-align: center;
	top:180px;
	font-family: Circe;
	font-size: 13px;
	font-weight: 300;
	color:#fff;
	display: block;
        margin-top: 15px;
	@media (max-width: 768px){
            top: 180px;
	}
}
@media (max-width: 360px){
	.right-nav-btn #show-menu {
		right: -20px;
	}
}
@media (max-width: 768px) and (min-width: 768px){
	.right-nav-btn #show-menu {
		margin-top: 4px;
	}
}
@media (max-width: $screen-xs-max){
        ul.nav.navbar-nav li.moscow.menu-quest, 
        ul.nav.navbar-nav li.moscow.menu-action, 
        ul.nav.navbar-nav li.moscow.menu-performance{
            padding-left: 0 !important;
            &:before{
                margin-top: -13px !important;
                left: 70px !important;
            }
        }
        ul.nav.navbar-nav li.moscow.delimeter{
            display: none;
        }
        #second_nav.moscow{
            padding: 0;
            text-align: center;
            margin-top: 20px !important;
        }
	.right-nav-btn {
                &>* {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    text-align: center;
                }
		margin-top: 29px;
		#show-menu {
			margin-top: 0;
			top: 0;
		}
	}
	.box.ratio {
		min-height: 640px;
		&:before {
			padding-top: 0;
		}
	}
	.info-block {
		display: block;
		position: relative;
		max-width: 315px;
		margin: 20px auto 0;
		padding: 0;
		p {
			margin-bottom: 20px;
		}
		.icon-user, .icon-alarm {
			text-align: center;
			min-width: 30px;
			margin-right: 8px;
			display: inline-block;
		}
	}
	.h100 {
		height: auto;
	}
	.row1275 {
		object {
			margin-top: 20px;
		}
		.p300 {
			margin-bottom: 30px;
		}
	}
	.date-line {
		white-space: nowrap;
		width: 100%;
		overflow: scroll;
	}
	.table-responsive {
		border:none;
	}
	.bottom-lead-action {
		padding-left: 40px;
		padding-right: 40px;
		font-size: 16px;
		line-height: 1.7;

	}
	.jumbotron-action h1 {
		font-size: 28px;
	}
	#hex550 {
		max-width: 320px;
	}
}
@media (min-width: 1200px) {
	.nav.navbar-nav.visible-lg {
		display: inline-block !important;
	}
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.col-sm-Iright {
		margin-left: 0px;
		margin-right: 0px;
	}
	.col-sm-Ileft {
		margin-right: 0;
		margin-left: 0;
	}
	#hex550 {
		width: 100%;
	}
	.col-sm-BL {
/*		margin-right: -104px;
		margin-left: 104px;*/
		margin-top: -25px;
	}
	.col-sm-BR {
/*		margin-left: -117px;
		margin-right: 117px;*/
		margin-top: -38px;
	}
	.col-sm-BC {
		margin-top: 95px;
	}
	.scare {
		/*top: 155px;*/
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  {
	.date-line {
		white-space: nowrap;
		width: 100%;
		overflow: scroll;
	}
	#hex550 {
		width: 80%;
		position: relative;
		top: 28px;
	}
	.p300 {
		font-size: 13px;
	}
	.container {
		width: auto;
	}
	.col-sm-BL {
/*		margin-right: -54px;
		margin-left: 54px;*/
		margin-top: 20px;
	}
	.col-sm-BR {
/*		margin-left: -67px;
		margin-right: 67px;*/
		margin-top: 7px;
	}
	.col-sm-BC {
		margin-top: 86px;
	}
	.curent_date {
		padding-left: 10px;
	}
	.media-body-action, .media-action .media-left {
		width:100%;
		float: none;
		display: block;
		text-align: center;
	}
	.media-action .media-left {
		margin-bottom: 15px;
		object {
			width:36px;
		}
	}
	.box.ratio {
		min-height: 590px;
		&:before {
			padding-top: 0;
		}
	}
	p.info-block {
		text-align: left;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.info-block {
		position: static;
		margin: 0px auto 0;
		width: 315px;
		padding-left: 0;
		padding-right: 0;
	}
	div.info-block {
		p {
			display: inline-block;
			&:first-child {
				position: relative;
				top: -27px;
			}
		}
	}
	.icon-user {
    	margin-left: 34px;
    	margin-right: 11px;
	}
	.h100 {
		height: auto;
	}
	.scare {
		/*top: 127px;*/
		font-size: 10px;
	}
}
@media (max-width: 768px) {
	.scare {
		/*top: 124px;*/
	}
}
@media (max-width: 480px) {
	.scare {
		/*top: 175px;*/
	}
}
.tab-content-action-month {
	margin-bottom: 30px;
}
.list-inline-active {
	margin: 0;
	li {
		margin: 0;
		padding: 0;
		&.active {
			a.h2.twotab {
				font-weight: normal;
				color: #fff;
				border-bottom: 5px solid rgba(255,255,255,0.2);
			}
		}
	}
}
#gmap_canvas {
    min-height: 585px;
    width: 100%;
}


@media (max-width: 480px) {
	ul.nav.navbar-nav-main li a {
    	padding-top: 15px;
	}
	#myModalMenu .modal-header {
		padding-top: 5px;
	}
	.right-nav-btn {
/*		margin-top: 15px;
		margin-bottom: 15px;*/
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 980px) {
    .table-responsive {
        width:100%;
        margin-bottom: 18.75px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive>.table {
        margin-bottom: 0
    }

    .table-responsive>.table>thead>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>tfoot>tr>td {
        white-space: nowrap
    }

    .table-responsive>.table-bordered {
        border: 0
    }

    .table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0
    }

    .table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0
    }

    .table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0
    }
}

ul.nav.navbar-nav li {
	color:#fff;
	@media (min-width: 992px) {
		a {
			position: relative;
			&:before {
				content: ' ';
				position: absolute;
				left: 0;
				top: -5px;
				height: 5px;
				width: 0;
				background-color: rgba(255, 255, 255, 0.5);
				z-index: 2;
				-webkit-transition: top 0.2s;
				transition: top 0.2s;
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: -5px;
				height: 4px;
				width: 0;
				-webkit-transition: width 0.25s, top 0.2s;
				transition: width 0.25s, top 0.2s;
				background-color: #fff;
				z-index: 1;
			}
		}
		&.active {
			border-top:none;
			padding-top: 5px;
			a {
				&:before {
					width:100%;
				}
			}
		}
		&:hover {
			a {
				&:after {
					width:100%;
				}
			}
		}

		&.active:hover, &.phone-li {
			a {
				&:after {
					width:0;
				}
			}
		}
		/*
			overflow: hidden;
			padding: 0;
			-webkit-transition: border-color 0.3s, background-color 0.3s;
			transition: border-color 0.3s, background-color 0.3s;
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			a {
				color:#fff;
				span {
					padding: 0;
					-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
					transition: transform 0.3s, opacity 0.3s;
					-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
					transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
					display: block;
					vertical-align: middle;
				}
				&::after {
					content: attr(data-text);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 29px;
					left: 0;
					opacity: 0;
					color:#fff;
					-webkit-transform: translate3d(0, 25%, 0);
					transform: translate3d(0, 25%, 0);
				    padding: 0;
				    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
				    transition: transform 0.3s, opacity 0.3s;
				    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
				}
			}
		*/
		&:hover {
			a {
			/* 
				text-shadow: 
					0 0 10px #fff,
					0 0 20px #fff,
					0 0 30px #fff;
				span {
					opacity: 0;
					-webkit-transform: translate3d(0, -25%, 0);
					transform: translate3d(0, -25%, 0);
				}
				&::after {
					opacity: 1;
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
			*/
			}
		}
	}
}

ul.nav.navbar-nav li.moscow {
	border: 1px solid transparent;
	margin-top: 18px;
	margin-right: 17px;
	margin-left: 17px;
	border-radius: 2px;
	opacity: .7;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;

	@media (max-width: $screen-sm-max){
		margin-right: 12px;
		margin-left: 12px;
		margin-top: 0;
	}
	@media (max-width: $screen-xs-max){
		margin-left: 2px;
		margin-right: 2px;
	}

	&:hover {
		opacity: 1;
	}

	a {
		font-family: 'BebasNeueBold';
		font-size: 33px;
		line-height: 34px;
		padding-right: 0;
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 22px;
		padding-right: 22px;
		display: inline-block;

		@media (max-width: $screen-sm-max){
			padding-left: 15px;
			padding-right: 15px;
			font-size: 32px;
		}
		@media (max-width: $screen-xs-max){
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 3px;
			padding-bottom: 2px;
			font-size: 12px;
			font-family: Circe;
		}
		&:after {
			width: auto;
			height: 1px;
			top: 100%;
			left: 22px;
			right: 22px;
			margin-top: -9px;
			content: '';
			position: absolute;
			background-color: #fff;
			opacity: .2;
			-webkit-transition: opacity 0.25s;
			transition: opacity 0.25s;

			@media (max-width: $screen-sm-max){
				left: 15px;
				right: 15px;
			}
			@media (max-width: $screen-xs-max){
				left: 6px;
				right: 6px;
				margin-top: -11px;
			}
		}
		&:hover:after {
			opacity: 1;
		}
	}
	.desc {
		font-size: 15px;
		line-height: 16px;
		font-weight: 300;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
		max-width: 200px;
		font-family: Circe;
	}
	&.active-menu {
		border-color: #fff;
		opacity: 1;
		background: rgba(255,255,255,.25);
		box-shadow: 0 0 27px rgba(255,255,255,.4);

		&:after, &:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(107, 143, 203, 0);
			border-top-color: #6b8fcb;
			border-width: 9px;
			margin-left: -9px;
		}
		&:before {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}
		&--no-arrow {
			&:before,
			&:after {
				display: none;
			}
		}


		a:after {
			display: none;
		}
		&--underline {

			a:after {
				display: block;
				opacity: 1;
			}
		}
		.desc {
			display: none;
		}
	}
}

#second_nav.moscow{
    margin-top: 40px;
    padding: 0;
	position: relative;
	font-family: Circe;
	@media (max-width:1400px){
		left: 116px;
	}
    li{
        display: inline-block;
        padding: 0 14px;
        position: relative;
        @media (max-width: $screen-sm-max){
            width: 100%;
            line-height: 2.5em;
            text-align: center;
        }
		@media (max-width:1450px){
			padding: 0 10px;
		}
		@media (max-width:1300px){
			padding: 0 6px;
		}
		@media (max-width:1200px){
			padding: 0 4px;
		}
		@media (max-width:1100px){
			padding: 0 2px;
		}
        a{
            color: #fff;
            padding-bottom: 0px;
            font-size: 16px;
			font-weight: 300;
            position: relative;

			@media (max-width:1400px){
				font-size: 15px;
			}
			@media (max-width:1200px){
				font-size: 13px;
			}
            &:after{
                display: block;
                content: ' ';
                position: absolute;
                left: 0;
                bottom: 2px;
                height: 1px;
                width: 100%;
                background-color: #fff;
				opacity: .2;
                z-index: 2;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            &:hover {
				color: #78c3e7;
				&:after{
					//background-color: #fcdd2e;
					background-color: #78c3e7;
					opacity: .3;
				}
			}
        }
        &.phone-li{

			@media (min-width:1400px){
				position: absolute;
				top: 1px;
				margin-left: 30px;
				white-space: nowrap;
				z-index: 1;
			}
			@media (min-width:1500px){
				margin-left: 50px;
			}
			@media (min-width:1600px){
				margin-left: 90px;
			}
			@media (min-width:1670px){
				margin-left: 128px;
			}

            a{
				font-weight: normal;
                &:hover:after{

                } 
            }
            
         }
    }
    li.active {
		a {
			color: #fcdd2e;
			&:hover {
				color: #78c3e7;
			}
			&:after{
				background-color: #fcdd2e;
				opacity: .3;
			}
			&:hover:after {
				background-color: #78c3e7;
			}
		}
    } 
}

@media (min-width: 992px) {
	ul.nav.navbar-nav.navbar-nav-main li:hover {
	    // border-top: 5px solid rgba(255,255,255,0.5);
	}
}
#myModalMenu {
	.modal-dialog {
		z-index: 1041;
	}
	#for-select-city {
		margin-top: -3px;
	}
	ul.nav.navbar-nav li, ul.nav.navbar-nav li.phone-li {
		margin-left: 0;
		margin-right: 0;
	}
	ul.nav.navbar-nav-main {
		margin-right: 0;
		width:100%;
                position: relative;
                
	}
	#top_menu {
		margin-right: 0;
	}
}
@media (min-width: 1275px) {
	.box {
		max-height: 504px;
		max-width: 1980px;
		.box-content {

		}
	}
	p.info-block {
		right: 0;
		left: 0;
	}
}	


.button--wayra {
	overflow: hidden;
	position: relative;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 150%;
		height: 100%;
		background-color: rgba(255,255,255,.98);
		z-index: -1;
		-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	&:hover {
		color: #000;
		// border-color: #fff;
		&::before {
			opacity: 1;
			// background-color: rgba(255,255,255,.98);
			-webkit-transform: rotate3d(0, 0, 1, 0deg);
			transform: rotate3d(0, 0, 1, 0deg);
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
	}
}
.gm-style-iw {
	position: absolute;
	left:15px;
	& + div {display: none;}
	& + div + img {display: none;}
}
.g_map {
	height: 565px;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 1025px) {
	#gmap_canvas {
	    height: 365px;
	}
	.g_map {

	height: 345px;
	}
}
.modal-backdrop.in {
	opacity: 1;
}

@media (min-width: 992px) and (max-width: 1023px) {
	#myModalMenu ul.nav.navbar-nav li a {
		padding-right: 20px;
	}
	.navbar-toggle, .btn.navbar-toggle {
	    display: block;
	    float: right;
	    margin-left: 20px;
	}

	#second_nav {
		display: none;
	}

	#myModalMenu ul.nav.navbar-nav-main {
		width: auto;
		margin:0 auto;
		li.active {
			border-top: none;
		}
	}
}
.table.borderless td, .table.borderless th {
	vertical-align: top;
}
.table-action .curent_date {
    margin-top: -5px;
}
@media (max-width: 600px) {
	.carousel-indicators.carousel-indicators-action {
		margin-top: -50px;
	}
}
@media (max-width: 1024px) and (min-width: 980px) {
	#carouselPhoto .carousel-inner > .item > img {
            left: 0;
	}
        #quest_description.action_for_mobile{
            margin-top: -5px;
        }
        .inner.video .box.ratio{
            /*min-height: 470px;*/
        }
}
@media (min-width: 1280px) {
	.carousel .carousel-inner-action .item img {
		height: auto;
    	width: 100%;
	}
}
@media (max-width: 400px) {
	.arrow-quest.arrow-right {
		/*right: -30px;*/
	}
	.arrow-quest.arrow-left {
		/*left: -30px;*/
	}
}

.rowVr{
    margin-bottom: 50px;
    
    #ico3D,
    #icoCoop,
    #icoLaser,
    #icoMoscow,
    #icoHands,
    #icoTelekinez
    {
        width: 137px;
        height: 83px;
    }
    .row1-padd{
        padding-top: 80px;
        @media(max-width: 768px){
            padding-top: 30px;
        }
        @media(max-width: 480px){
            padding-top: 0;
        }
    }
    .row2-padd{
        padding-top: 150px;
        @media(max-width: 768px){
            padding-top: 30px;
        }
        @media(max-width: 480px){
            padding-top: 0;
        }
    }
    .rowbig-padd{
        padding: 50px 0;
        @media(max-width: 768px){
            padding: 30px 0;
        }
    }
    .pogruz{
        .scare{
            @media(max-width:768px){
                top: 98%;
                font-size: 16px;
            }
            @media(max-width: 480px){
/*                font-size: 12px;*/
            }
        }
    }
    
    .level2 {
        @media(max-width: 768px){
            /*margin-bottom: 30px;*/
        }
    }
}
#roadscheme{
    margin-bottom: 30px;
}

#icoBetterThan {
	width:132px;
}
#icoSearch {
	width:312px;
}
#icoIdealBalance {
	width:102px;
}
#icoNewbies {
	width:147px;
}
#icoDecorations {
	width:123px;
}

.carousel-grandient {

	position: absolute;
	width: 100%;
	height: 200px;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}