// Core variables and mixins
@import "admin_bootstrap/variables";
@import "admin_bootstrap/mixins";

// Reset and dependencies
@import "admin_bootstrap/normalize";
@import "admin_bootstrap/print";
@import "admin_bootstrap/glyphicons";

// Core CSS
@import "admin_bootstrap/scaffolding";
@import "admin_bootstrap/type";
@import "admin_bootstrap/code";
@import "admin_bootstrap/grid";
@import "admin_bootstrap/tables";
@import "admin_bootstrap/forms";
@import "admin_bootstrap/buttons";

// Components
@import "admin_bootstrap/component-animations";
@import "admin_bootstrap/dropdowns";
@import "admin_bootstrap/button-groups";
@import "admin_bootstrap/input-groups";
@import "admin_bootstrap/navs";
@import "admin_bootstrap/navbar";
@import "admin_bootstrap/breadcrumbs";
@import "admin_bootstrap/pagination";
@import "admin_bootstrap/pager";
@import "admin_bootstrap/labels";
@import "admin_bootstrap/badges";
@import "admin_bootstrap/jumbotron";
@import "admin_bootstrap/thumbnails";
@import "admin_bootstrap/alerts";
@import "admin_bootstrap/progress-bars";
@import "admin_bootstrap/media";
@import "admin_bootstrap/list-group";
@import "admin_bootstrap/panels";
@import "admin_bootstrap/responsive-embed";
@import "admin_bootstrap/wells";
@import "admin_bootstrap/close";

// Components w/ JavaScript
@import "admin_bootstrap/modals";
@import "admin_bootstrap/tooltip";
@import "admin_bootstrap/popovers";
@import "admin_bootstrap/carousel";

// Utility classes
@import "admin_bootstrap/utilities";
@import "admin_bootstrap/responsive-utilities";
@import "admin_bootstrap/dashboard";


.btn-group .btn {
	.label {
		display: none;
		position: absolute;
		top: 100%;
		left: 6px;
	}
	&:hover {
		.label {
			display: block;
			cursor: pointer;
		}
	}
	&.btn-warning {
		.label {
			color:#f0ad4e;
		}
	}
}

#times-table, .btn-group.btn-group-justified {
	min-width: 1020px;
}
.my_form_label {
	width: 120px;
}
.my_form_control {
	width: 300px;
}
.pagetitle {
	color: #000;
	font-size: 34px;
	font-family: "OpenSans-Light", sans-serif;
	margin: -9px 0 0;
	padding: 0;
	text-shadow: 0 1px 0 #ffffff;
}
.pagetitle-wrap {
	background-color: #eef2f4;
	margin: 0 -3px 0 -1px;
	min-height: 50px;
	padding: 27px 0 16px 0;
	position: relative;
}
#workarea, .workarea {
	padding: 15px;
	background-color: #fff;
}
.nav>li>a.profile_nav {
	padding-left: 60px;
	margin-left: 10px;
	margin-right: 0;
	padding-right: 25px;
	.glyphicon {
		font-size: 32px;
		position: absolute;
		top:14px;
		left: 14px;
	}
}
.dropdown-menu.profile_dropdown {
	min-width: 174px;
	&>li>a {
		text-align: right;
		padding-right: 37px;
	}
}
.container>.navbar-header,
.container-fluid>.navbar-header {
	@media (max-width: 1199px) and (min-width: 992px){
		max-width: 300px;
	}
}
