@font-face {
    font-family: 'cityquest';
    src:    url('fonts/cityquest.eot?cuhk7f');
    src:    url('fonts/cityquest.eot?cuhk7f#iefix') format('embedded-opentype'),
        url('fonts/cityquest.ttf?cuhk7f') format('truetype'),
        url('fonts/cityquest.woff?cuhk7f') format('woff'),
        url('fonts/cityquest.svg?cuhk7f#cityquest') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cityquest' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-Call:before {
    content: "\e600";
}
.icon-Man:before {
    content: "\e601";
}
.icon-Time:before {
    content: "\e602";
}
.icon-Pin:before {
    content: "\e603";
}
.icon-instagram:before {
    content: "\e604";
}
.icon-vk:before {
    content: "\e605";
}
.icon-facebook:before {
    content: "\e606";
}
.icon-spiral:before {
    content: "\e607";
}
.icon-logo_cityquest:before {
    content: "\e608";
}
.icon-metro:before {
    content: "\e609";
}
.icon-visa:before {
    content: "\e60a";
}
.icon-mastercard:before {
    content: "\e60b";
}
.icon-ruble:before {
    content: "\e60c";
}
.icon-flag:before {
    content: "\e60d";
}
.icon-lock:before {
    content: "\e60e";
}
.icon-triangle:before {
    content: "\e60f";
}
.icon-square:before {
    content: "\e610";
}
.icon-hexahedron:before {
    content: "\e611";
}
.icon-user:before {
    content: "\e612";
}
.icon-point:before {
    content: "\e613";
}
.icon-star:before {
    content: "\e614";
}
.icon-alarm:before {
    content: "\e615";
}
.icon-mask:before {
    content: "\e616";
}
.icon-Mobile:before {
    content: "\e617";
}
.icon-Mail:before {
    content: "\e618";
}
.icon-hour24:before {
    content: "\e900";
}
.icon-pointsm:before {
    content: "\e901";
}
.icon-quest:before {
    content: "\e902";
}
.icon-packman:before {
    content: "\e903";
}
.icon-head:before {
    content: "\e904";
}
.icon-sq:before {
    content: "\e905";
}
.icon-rub:before {
    content: "\e906";
}
.icon-usersm:before {
    content: "\e907";
}
.icon-action:before {
    content: "\e908";
}
.icon-eighteen:before {
    content: "\e909";
}
.icon-24:before {
    content: "\e90a";
}
.icon-play:before {
    content: "\e915";
}
.icon-ico:before {
    content: "\e90c";
}
.icon-gift:before {
    content: "\e90d";
}
.icon-mark:before {
    content: "\e90e";
}
.icon-vr:before {
    content: "\e90f";
}
.icon-thirteen:before {
    content: "\e910";
}
.icon-date:before {
    content: "\e911";
}
.icon-close:before {
    content: "\e912";
}
.icon-age:before {
    content: "\e913";
}
.icon-winner:before {
    content: "\e914";
}
.icon-currency:before {
    content: "\e90b";
}
.icon-man:before {
    content: "\e916";
}
.icon-men:before {
    content: "\e917";
}

.icon-rubles {
    background-image: url("/img/icon-rubles@2x.png");
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    background-size: 100%;
    vertical-align: baseline;
}

